.locationList {
  background-color: #ffffff;
  padding-top: 24px;
}

.locationList h2 {
  margin: 0px;
}

.listGroup {
  list-style: none;
  margin: 12px 12px 24px 12px;
  padding: 12px 12px 24px 12px;
}

.listGroupItem {
  border: 1px solid #f0f0f0;
  background-color: #fce8f1;
}