.locationWrapper {
  background-color: #fce8f1;
  margin-top: auto;
  text-align: center;
  padding: 24px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
  z-index: 1;
  height: auto;
}

.header button:first-child {
  margin-right: auto;
}

.header button:last-child {
  margin-left: auto;
}

.header button {
  background-color: transparent;
  padding: 12px;
  border: 1px solid #000;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: auto;
}
